.mainnavbar {
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.navbar {
    display: flex;
    width: 25%;
}

.link {
    font-family: 'Antonio', sans-serif;
    padding: 5%;
    color: red;
}
.link:hover {
    color: coral;
}
.logo {
    width: 200px;
}